@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito&family=Open+Sans&display=swap");
.app {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  height: 100vh;
  background-color: #1e212d;
  color: #eabf9f;
}
